fish/fish_variables
fish/functions
gcloud
gh/**/*
nvim
qmk/**/*
racket/**/*
tmux/plugins/**/*
wslu/**/*

configstore
fish/completions
fish/conf.d
fish/config.fish.backup
fish/fish_plugins
nextjs-nodejs/
tmux/tmux-client-32370.log
vscode-sqltools/
